RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]

# Add fancy caching i found online
<IfModule mod_expires.c>
    ExpiresActive On

    # CSS / JS
    ExpiresByType text/css "access plus 30 days"
    ExpiresByType application/javascript "access plus 30 days"

    # Images
    ExpiresByType image/png "access plus 30 days"
    ExpiresByType image/jpeg "access plus 30 days"
    ExpiresByType image/webp "access plus 30 days"
    ExpiresByType image/svg+xml "access plus 30 days"

    # Fonts
    ExpiresByType font/woff2 "access plus 1 year"
</IfModule>